{% extends "base.html" %}
{% load humanize %}

{% block titke %}SYNC{% endblock %} 

{% block main %}
	<div class="page-spacer-p">
		<div class="container">			
			<div class="row">

				<div class="col-12 d-flex justify-content-center">
					<button id="syncButton" class="btn btn-md btn-outline-blue mr-5">SYNC SENAITE-DATA TO STANCHION</button>
					<div class="preloader-wrapper">
					  <div class="spinner-layer spinner-red-only">
					    <div class="circle-clipper left">
					      <div class="circle"></div>
					    </div>
					    <div class="gap-patch">
					      <div class="circle"></div>
					    </div>
					    <div class="circle-clipper right">
					      <div class="circle"></div>
					    </div>
					  </div>
					</div>
				</div>
				<div id="exception-errors" class="col-12 bg-danger d-none p-2"></div>
				<div class="col-12 clients">
					<br><hr>
					<h5>Clients Sync Progress: <span class="text-tiny observable"></span></h5>
					<h6 class="text-muted">Last Synced: <span>{{ progress.client_synced | timesince }}</span></h6>
					<div class="progress md-progress">
					    <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
					    </div>
					</div>
				</div>
				<div class="col-12 patients">
					<hr>
					<h5>Patients Sync Proress: <span class="text-tiny observable"></span></h5>
					<h6 class="text-muted">Last Synced: <span>{{ progress.patient_synced | timesince }}</span></h6>
					<div class="progress md-progress">
					    <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
					    </div>
					</div>
				</div>
				<div class="col-12 analysis">
					<hr>
					<h5>Analysis Sync Progress: <span class="text-tiny observable"></span></h5>
					<h6 class="text-muted">Last Synced: <span>{{ progress.analysis_synced | timesince }}</span></h6>
					<div class="progress md-progress">
					    <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
					    </div>
					</div>
				</div>
				<div class="col-12">
					<p class="text-danger text-center mt-2"><b>DO NOT CLOSE THIS WINDOW WHILST SYNC IS IN PROGRESS</b></p>
				</div>
				<hr>
				<div class="col-12 ">
					<!-- Collapse buttons -->
					<div>
					  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
					    aria-expanded="false" aria-controls="collapseExample">
					    SYNC SETTINGS
					  </button>
					</div>
					<!-- / Collapse buttons -->
					<!-- Collapsible element -->
					<div class="collapse" id="collapseExample">
					  <div class="mt-3">
					    HERE YOU AN SUSTOMISE WHAT YOU WANT TO GET OUT OF SENAITE. JUSTSELECT THR COMPOM=NETS THAT YOU ARE INTERESTED IN AND YOU WILL GET ONLY JUST THAT
					    <hr>
					    <div  id="SyncSettings" class="row">
					    	<div class="col-6">
							    <div class="row">
							    	<div class="col-3">
							    		Clients:
							    	</div>
							    	<div class="col-9">
										<div class="switch">
										  <label>
										    Off
										    <input id="clients" type="checkbox">
										    <span class="lever"></span> On
										  </label>
										</div>
							    	</div>
							    </div>
							    <div class="row">
							    	<div class="col-3">
							    		Patients:
							    	</div>
							    	<div class="col-9">
										<div class="switch">
										  <label>
										    Off
										    <input id="patients" type="checkbox">
										    <span class="lever"></span> On
										  </label>
										</div>
							    	</div>
							    </div>
							    <div class="row">
							    	<div class="col-3">
							    		Analysis:
							    	</div>
							    	<div class="col-9">
										<div class="switch">
										  <label>
										    Off
										    <input id="analyses" type="checkbox">
										    <span class="lever"></span> On
										  </label>
										</div>
							    	</div>
							    </div>
					    	</div>
					    	<div id="analysesType" class="col-6 d-none">
							    <div class="row">
							    	<div class="col">
							    		Verified:
							    	</div>
							    	<div class="col">
										<div class="switch">
										  <label>
										    Off
										    <input id="verified" type="checkbox">
										    <span class="lever"></span> On
										  </label>
										</div>
							    	</div>
							    </div>
							    <div class="row">
							    	<div class="col">
							    		Published:
							    	</div>
							    	<div class="col">
										<div class="switch">
										  <label>
										    Off
										    <input id="published" type="checkbox">
										    <span class="lever"></span> On
										  </label>
										</div>
							    	</div>
							    </div>
							    <div class="row">
							    	<div class="col">
							    		Verified and Published:
							    	</div>
							    	<div class="col">
										<div class="switch">
										  <label>
										    Off
										    <input id="verifiedPublished" type="checkbox">
										    <span class="lever"></span> On
										  </label>
										</div>
							    	</div>
							    </div>
					    	</div>
					    </div>

					    <div  id="SyncSettingsMessages" class="row"></div>
					    <div class="row">
					    	<button id="ApplySettings" class="btn btn-default ml-2">APPLY</button>
					    </div>

					  </div>
					</div>
					<!-- / Collapsible element -->
				</div>

			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function () {

	var syncMessage = null,
		interval = null;

	$('button#syncButton').on("click", function(e){
		e.preventDefault();
		e.stopImmediatePropagation();
		$(this).addClass("disabled");
		$(".preloader-wrapper").addClass("active");
		$("#exception-errors").addClass("d-none").html("");
		startSync()
		getProgress()
	});

	$('.switch input[id="verifiedPublished"]').on('change', function() {
		if ($('input#verifiedPublished').is(':checked') ) {
			$('input#verified').prop("checked", false);
			$('input#published').prop("checked", false);
		} else {}
	});

	$('.switch input[id="verified"]').on('change', function() {
		if ($('input#verified').is(':checked') ) {
			$('input#verifiedPublished').prop("checked", false);
			$('input#published').prop("checked", false);
		} else {}
	});

	$('.switch input[id="published"]').on('change', function() {
		if ($('input#published').is(':checked') ) {
			$('input#verifiedPublished').prop("checked", false);
			$('input#verified').prop("checked", false);
		} else {}
	});

	$('.switch input[id="analyses"]').on('change', function() {
		if ($('input#analyses').is(':checked') ) {
			$('#analysesType').removeClass('d-none');
		} else {
			$('#analysesType').addClass('d-none');
		}
	});

	getSelection();

	$('button#ApplySettings').on('click', function(e){
		e.preventDefault();
		e.stopImmediatePropagation();
		var button = $(this);
		button.addClass("disabled");
		$('#SyncSettings').addClass("d-none");
		$('#SyncSettingsMessages').html("Applying your Settings ... ... wait ... .... ").addClass("text-danger text-center");
		var data = {};
			data['clients'] = $('input#clients').is(':checked');
			data['patients'] = $('input#patients').is(':checked');
			data['analyses'] = $('input#analyses').is(':checked');
			data['verified'] = $('input#verified').is(':checked');
			data['published'] = $('input#published').is(':checked');
			data['published_verified'] = $('input#verifiedPublished').is(':checked');
		$.ajax({
			"url": "{% url 'sync:selections' %}",
			"method": "POST",
			"data": data,
			success: function(res){
				button.removeClass("disabled");
				$('#SyncSettingsMessages').html("");
				$('#SyncSettingsMessages').html("Your settings were successfully applied.").addClass("text-success text-center");
				$('#SyncSettings').removeClass("d-none");
			}
		})
	});

	function getProgress()
	{
		interval = setInterval(function() 
	    {

			$.ajax({
				"url": "{% url 'sync:progress' %}",
				"method": "GET",
				"data": {},
				success: function(res){
					var progress = res.progress;
					// Client Updates
					$('.clients').find('span.observable').html(progress.clients_percent);
					$('.clients').find('div.progress-bar').css({'width': progress.clients_percent});
					// Patient Updates
					$('.patients').find('span.observable').html(progress.patients_percent);
					$('.patients').find('div.progress-bar').css({'width': progress.patients_percent});
					// Analysis Updates
					$('.analysis').find('span.observable').html(progress.analyses_percent);
					$('.analysis').find('div.progress-bar').css({'width': progress.analyses_percent});
					// Overal Progress and Processing Updates
				}
			})
	    }, 10000);
	 }

	function startSync()
	{
		$.ajax({
			"url": "{% url 'sync:senaite' %}",
			"method": "POST",
			"data": {
				"action": "sync"
			},
			success: function(res){
				syncMessage = res.message;
				if(syncMessage !== null){
					clearInterval(interval)
				}
				$('button#syncButton').removeClass("disabled");
				$(".preloader-wrapper").removeClass("active");
				$("#exception-errors").removeClass("d-none").html(res.error);
			}
		})		
	}

	function getSelection()
	{
		$.ajax({
			"url": "{% url 'sync:selections' %}",
			"method": "GET",
			"data": {},
			success: function(res){
				clients = $.parseJSON(res.clients);
				patients = $.parseJSON(res.patients);
				analyses = $.parseJSON(res.analyses);
				verified = $.parseJSON(res.verified);
				published = $.parseJSON(res.published);
				published_verified = $.parseJSON(res.published_verified);
				if (clients) { $("input#clients").prop("checked", true); } else {}
				if (patients) { $("input#patients").prop("checked", true); } else {}
				if (analyses) { 
					$("input#analyses").prop("checked", true); 
					$('#analysesType').removeClass('d-none'); 
				} else {}

				if (published_verified) { 
					$("input#verifiedPublished").prop("checked", true); 
					$("input#verified").prop("checked", false); 
					$("input#published").prop("checked", false); 
				} else {
					if (verified) { 
						$("input#verified").prop("checked", true); 
						$("input#published").prop("checked", false); 
						$("input#verifiedPublished").prop("checked", false); 
					} else {						
						if (published) {
							$("input#published").prop("checked", true); 
							$("input#verified").prop("checked", false); 
							$("input#verifiedPublished").prop("checked", false);
						} 
					}					
				}

			}
		})		
	}

});
</script>
{% endblock %}