<div class="row">
    <div class="col-3">
        <input data-target="patient" type="search" class="form-control" placeholder="Patient Search">
    </div>
    <div class="col-3">
        <input data-target="analyses" type="search" class="form-control" placeholder="Analyses Search">
    </div>
</div>
<hr>

<table id="tradesTable" class="table table-striped table-bordered table-responsive" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="th-sm">Name</th>
        <th class="th-sm">Gender</th>
        <th class="th-sm">D.O.B</th>
        <th class="th-sm">ClientPID</th>
        <th class="th-sm">Facility</th>
        <th class="th-sm">State</th>
        <th class="th-sm">District</th>
        <th class="th-sm">Sample ID</th>
        <th class="th-sm">Result</th>
        <th class="th-sm">State</th>
        <th class="th-sm">Keyword</th>
        <th class="th-sm">Received</th>
        <th class="th-sm">Captured</th>
      </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
      <tr>
          <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>D.O.B</th>
            <th>ClientPID</th>
            <th>Facility</th>
            <th>State</th>
            <th>District</th>
            <th>Sample ID</th>
            <th>Result</th>
            <th>State</th>
            <th>Keyword</th>
            <th>Received</th>
            <th>Captured</th>
        </tr>
  </table>